[Unit]
Description=Initialize trusted Arch package signing keys
After=systemd-random-seed.service
Before=greetd.service getty@tty1.service archlinux-keyring-wkd-sync.service
ConditionPathExists=!/etc/pacman.d/gnupg/hafthios-ready

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/pacman-key --init
ExecStart=/usr/bin/pacman-key --populate archlinux
ExecStart=/usr/bin/touch /etc/pacman.d/gnupg/hafthios-ready

[Install]
WantedBy=multi-user.target
